


<%- include('ek/header.ejs', {bot, user}) %>
<link rel="stylesheet" href="../css/08c1c3f860e667ff.css">
<div class="center">
<div class=" ">
<div tabindex="0" style="outline: none;">
<div class="fav">
  <!-- <div>
    <svg width="21" height="25" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path stroke="#5865F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    </path>
    </svg>
    <h2>Saldırı Karşıtı Koruma</h2>
    <p>Saldırı Hareketlerini Algılar ve Çeşitli Seçeneklerle Otomatik Olarak İşlem Yapar</p>
    </div>
    <div>
    <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path stroke="#5865F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    </path>
    </svg>
    <h2>99.99% Çalışma Süresi</h2>
    <p>Botların Çevrimdışı Olma Konusunda Endişelenmenize Gerek Yok, Botlar %99.99 Çevrimiçidir!</p>
    </div>
    <div>
    <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="-0.545654" width="34" height="23" fill="black">
    <rect fill="white" y="-0.545654" width="34" height="23">
    </rect>
    <path >
    </path>
    </mask>
    <path fill="#5865F2">
    </path>
    <path  stroke="#5865F2" stroke-width="0.4" mask="url(#path-1-outside-1)">
    </path>
    </svg>
    <h2>En İyi Karşılayıcı</h2>
    <p>Karşılayıcımız, hoş müziklerden kesitler ile kullanıcıları karşılıyor!</p>
    </div>
    <div>
<svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill="#5865F2" stroke="#5865F2" stroke-width="0.2">
</path>
</svg>
<h2>Chat Guard</h2>
<p>Metin kanallarında ki karışıklık ve kuralsız davranışlardan sıkıldıysan bu botlar tam senin sunucun için!</p>

</div> -->
<div class="hero">
<div class="buttons" style="display: flex">
<div style="transform: none;">
<a href="/auth">
<button class="outline-btn">Panel</button>
</a>
</div>
<div style="transform: none;">
  <a href="https://discord.com/users/341592492224806914">
    <button class="outline-btn">İletişim</button>
    </a>
  </a></div>


</div>

</div>

</div>
</div>
</div>
</div>
