<link rel="stylesheet" href="../css/stylesheet.css">
<link rel="stylesheet" href="../css/a54efec42d212c53.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<div class="favfooter">
<div>
<span>© 2022 Tüm Hakları Saklıdır</span>
</div>
<div>
<div style="align-items: center;">
<a style="text-decoration: none; color: white; font-size: 30px;" href="https://discord.com/users/852800814808694814">Bana Ulaşın</a> 
</div>
</div>
</div>
<style>
.favfooter {
    background: url("https://probot.io/static/footer.webp");
    margin: -150px -200px;
    background-size: cover;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
}

</style>