 <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" href="https://cdn.discordapp.com/icons/968177149511086080/a_ff5e437b1bde88f51c08a12bd2ba891b.gif">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
      <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
      <meta name="mobile-web-app-capable" content="yes">
    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="../css/stylesheet.css">
     <link rel="stylesheet" href="../css/a54efec42d212c53.css">

    <script type="text/javascript"></script>

    <title>♰ Black Throne</title>
  </head>
  <body id="body-pd">
  <div class="header">
    <strong class="botPPNAME"> 
      <img style="border-radius: 50px;" src=<%=bot.user.avatarURL({size:64})%> alt="ICONS">
      <%=bot.user.username%>
    </strong>
    <div class="header-right">
      <a class="active"href="/auth">Panel</a>
      <a href="/anasayfa">Anasayfa</a>
      <a href="/">Sunucular</a>
    </div>
  </div>
  <div class="cizgi"> </div>
  </body>

  </html>